<p id="notice"><%= notice %></p>

<h1>Visit Comments</h1>

<table>
  <thead>
    <tr>
      <th>Appartment</th>
      <th>Visit date time</th>
      <th>Contact</th>
      <th>Address</th>
      <th>Extra comments</th>
      <th>Elevator status</th>
      <th>Balcony</th>
      <th>View</th>
      <th>Water key status</th>
      <th>Water pressure</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @visit_comments.each do |visit_comment| %>
      <tr>
        <td><%= visit_comment.appartment %></td>
        <td><%= visit_comment.visit_date_time %></td>
        <td><%= visit_comment.contact %></td>
        <td><%= visit_comment.address %></td>
        <td><%= visit_comment.extra_comments %></td>
        <td><%= visit_comment.elevator_status %></td>
        <td><%= visit_comment.balcony %></td>
        <td><%= visit_comment.view %></td>
        <td><%= visit_comment.water_key_status %></td>
        <td><%= visit_comment.water_pressure %></td>
        <td><%= link_to 'Show', visit_comment %></td>
        <td><%= link_to 'Edit', edit_visit_comment_path(visit_comment) %></td>
        <td><%= link_to 'Destroy', visit_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Visit Comment', new_visit_comment_path %>
