<p id="notice"><%= notice %></p>

<p>
  <strong>Appartment:</strong>
  <%= @visit_comment.appartment %>
</p>

<p>
  <strong>Visit date time:</strong>
  <%= @visit_comment.visit_date_time %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @visit_comment.contact %>
</p>

<p>
  <strong>Address:</strong>
  <%= @visit_comment.address %>
</p>

<p>
  <strong>Extra comments:</strong>
  <%= @visit_comment.extra_comments %>
</p>

<p>
  <strong>Elevator status:</strong>
  <%= @visit_comment.elevator_status %>
</p>

<p>
  <strong>Balcony:</strong>
  <%= @visit_comment.balcony %>
</p>

<p>
  <strong>View:</strong>
  <%= @visit_comment.view %>
</p>

<p>
  <strong>Water key status:</strong>
  <%= @visit_comment.water_key_status %>
</p>

<p>
  <strong>Water pressure:</strong>
  <%= @visit_comment.water_pressure %>
</p>

<%= link_to 'Edit', edit_visit_comment_path(@visit_comment) %> |
<%= link_to 'Back', visit_comments_path %>
