<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<p id="notice"><%= notice %></p>
<a href="/"> Home </a>

<h1>Filtros</h1>

<table class="table">
  <thead>
    <tr>
      <th>Url</th>
      <th>Commune</th>
      <th>Bedrooms range</th>
      <th>Bathrooms range</th>
      <th>Price range</th>
      <th>Useful surface range</th>
      <th>Parking</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @filters.each do |filter| %>
      <tr style="text-align: center;">
        <td style="
          text-overflow: ellipsis;
          white-space: nowrap;
          max-width: 40rem;
          overflow: hidden;
        ">
          <a href="<%= filter.url %>" target="_blank"><%= filter.url %></a>
        </td>
        <td><%= filter.commune %></td>
        <td><%= filter.bedrooms_range %></td>
        <td><%= filter.bathrooms_range %></td>
        <td><%= filter.price_range %></td>
        <td><%= filter.useful_surface_range %></td>
        <td><%= filter.parking %></td>
        <td><%= link_to 'Show', filter %></td>
        <td><%= link_to 'Edit', edit_filter_path(filter) %></td>
        <td><%= link_to 'Destroy', filter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Filter', new_filter_path %>
