<%= form_with(model: appartment, local: true) do |form| %>
  <% if appartment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appartment.errors.count, "error") %> prohibited this appartment from being saved:</h2>

      <ul>
      <% appartment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :filter_id %>
    <%= form.text_field :filter_id %>
  </div>

  <div class="field">
    <%= form.label :external_id %>
    <%= form.text_field :external_id %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="field">
    <%= form.label :cost %>
    <%= form.number_field :cost %>
  </div>

  <div class="field">
    <%= form.label :common_expenses %>
    <%= form.number_field :common_expenses %>
  </div>

  <div class="field">
    <%= form.label :bedrooms %>
    <%= form.number_field :bedrooms %>
  </div>

  <div class="field">
    <%= form.label :bathrooms %>
    <%= form.number_field :bathrooms %>
  </div>

  <div class="field">
    <%= form.label :floor %>
    <%= form.number_field :floor %>
  </div>

  <div class="field">
    <%= form.label :orientation %>
    <%= form.text_field :orientation %>
  </div>

  <div class="field">
    <%= form.label :useful_surface %>
    <%= form.number_field :useful_surface %>
  </div>

  <div class="field">
    <%= form.label :total_surface %>
    <%= form.number_field :total_surface %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude %>
  </div>

  <div class="field">
    <%= form.label :published %>
    <%= form.date_select :published %>
  </div>

  <div class="field">
    <%= form.label :sold_out %>
    <%= form.check_box :sold_out %>
  </div>

  <div class="field">
    <%= form.label :sold_date %>
    <%= form.date_select :sold_date %>
  </div>

  <div class="field">
    <%= form.label :rejected %>
    <%= form.check_box :rejected %>
  </div>

  <div class="field">
    <%= form.label :reject_reason %>
    <%= form.text_field :reject_reason %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
