<input
  name="visit_comment[appartment_id]"
  type="hidden"
  value="<%= appartment.id %>"
/>
<input
  type="hidden"
  name="authenticity_token"
  value="<%= form_authenticity_token %>"
/>

<div class="form-row">
  <div class="form-group col-md-6">
    <label> Fecha visita </label>
    <input
      class="form-control"
      name="visit_comment[visit_date_time]"
      type="date"
      <% if visit_comment.visit_date_time %>
      value="<%= visit_comment.visit_date_time.strftime("%Y-%m-%d") %>"
      <% end%>
    />
  </div>
  <div class="form-group col-md-6">
    <label> Contacto </label>
    <input
      class="form-control"
      name="visit_comment[contact]"
      value="<%= visit_comment.contact %>"
    />
  </div>
</div>

<div class="form-group">
  <label> Dirección </label>
  <input
    class="form-control"
    name="visit_comment[address]"
    value="<%= visit_comment.address %>"
  />
</div>

<div class="form-group">
  <label> Comentarios </label>
  <textarea
    class="form-control"
    name="visit_comment[extra_comments]"
  ><%= visit_comment.extra_comments %></textarea>
</div>

<div class="form-row">
  <div class="form-group col-md-6">
    <strong> Estado del elevador </strong><br />
    <label
      ><input type="radio" name="visit_comment[elevator_status]" value="bad" <%
      if visit_comment.elevator_status == 'bad' %> checked <% end %> > Malo
    </label>
    <br />
    <label
      ><input type="radio" name="visit_comment[elevator_status]" value="normal"
      <% if visit_comment.elevator_status == 'normal' %> checked <% end %> >
      Normal
    </label>
    <br />
    <label
      ><input type="radio" name="visit_comment[elevator_status]" value="good" <%
      if visit_comment.elevator_status == 'good' %> checked <% end %> > Bueno
    </label>
    <br />
    <label
      ><input type="radio" name="visit_comment[elevator_status]"
      value="very_good" <% if visit_comment.elevator_status == 'very_good' %>
      checked <% end %> > Muy Bueno
    </label>
  </div>
  <div class="form-group col-md-6">
    <strong> Estado llaves de agua </strong><br />
    <label
      ><input type="radio" name="visit_comment[water_key_status]" value="bad" <%
      if visit_comment.water_key_status == 'bad' %> checked <% end %> > Malas
    </label>
    <br />
    <label
      ><input type="radio" name="visit_comment[water_key_status]" value="normal"
      <% if visit_comment.water_key_status == 'normal' %> checked <% end %> >
      Normal
    </label>
    <br />
    <label
      ><input type="radio" name="visit_comment[water_key_status]" value="good"
      <% if visit_comment.water_key_status == 'good' %> checked <% end %> >
      Buenas
    </label>
    <br />
    <label
      ><input type="radio" name="visit_comment[water_key_status]"
      value="very_good" <% if visit_comment.water_key_status == 'very_good' %>
      checked <% end %> > Muy Buenas
    </label>
  </div>
</div>

<div class="form-row">
  <div class="form-group col-md-6">
    <strong> Balcon </strong><br />
    <label
      ><input type="radio" name="visit_comment[balcony]" value="bad" <% if
      visit_comment.balcony == 'bad' %> checked <% end %> > Malo
    </label>
    <br />
    <label
      ><input type="radio" name="visit_comment[balcony]" value="normal" <% if
      visit_comment.balcony == 'normal' %> checked <% end %> > Normal
    </label>
    <br />
    <label
      ><input type="radio" name="visit_comment[balcony]" value="good" <% if
      visit_comment.balcony == 'good' %> checked <% end %> > Bueno
    </label>
    <br />
    <label
      ><input type="radio" name="visit_comment[balcony]" value="very_good" <% if
      visit_comment.balcony == 'very_good' %> checked <% end %> > Muy Bueno
    </label>
  </div>
  <div class="form-group col-md-6">
    <strong> Vista </strong><br />
    <label
      ><input type="radio" name="visit_comment[view]" value="bad" <% if
      visit_comment.view == 'bad' %> checked <% end %> > Mala
    </label>
    <br />
    <label
      ><input type="radio" name="visit_comment[view]" value="normal" <% if
      visit_comment.view == 'normal' %> checked <% end %> > Normal
    </label>
    <br />
    <label
      ><input type="radio" name="visit_comment[view]" value="good" <% if
      visit_comment.view == 'good' %> checked <% end %> > Buena
    </label>
    <br />
    <label
      ><input type="radio" name="visit_comment[view]" value="very_good" <% if
      visit_comment.view == 'very_good' %> checked <% end %> > Muy Buena
    </label>
  </div>
</div>


<div class="form-row">
  <div class="form-group col-md-6">
    <strong> Presion del agua </strong><br />
    <label>
      <input type="radio" name="visit_comment[water_pressure]" value="bad" <% if visit_comment.water_pressure == 'bad' %> checked <% end %>
    > Mala </label> <br>
    <label><input
      type="radio"
      name="visit_comment[water_pressure]"
      value="normal"
      <% if visit_comment.water_pressure == 'normal' %> checked <% end %>
    > Normal </label> <br>
    <label><input
      type="radio"
      name="visit_comment[water_pressure]"
      value="good"
      <% if visit_comment.water_pressure == 'good' %> checked <% end %>
    > Buena </label> <br>
    <label><input
      type="radio"
      name="visit_comment[water_pressure]"
      value="very_good"
      <% if visit_comment.water_pressure == 'very_good' %> checked <% end %>
    > Muy Buena </label>
  </div>
</div>
