<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<p id="notice"><%= notice %></p>
<h2>
  <a href="/"> Inicio </a> -
  <a href="/appartments/analysis"> Analizar </a> -
  <a href="/appartments/liked"> Pre-Aprobados </a> -
  <a href="/appartments/sold"> Vendidos </a>
</h2>

<h1>Departamentos</h1>

<table class="table">
  <thead>
    <tr style="cursor: pointer;">
      <th>#</th>
      <th onclick="window.location.href = '/appartments/analysis?order_by=commune';">Comuna</th>
      <% if device != "mobile" %><th onclick="window.location.href = '/appartments/analysis?order_by=cost';">Precio</th><% end %>
      <% if device != "mobile" %><th onclick="window.location.href = '/appartments/analysis?order_by=common_expenses';">Gastos comunes</th><% end %>
      <th onclick="window.location.href = '/appartments/analysis?order_by=total_cost';">Costo total</th>
      <th onclick="window.location.href = '/appartments/analysis?order_by=bedrooms';">Dormitorios</th>
      <th onclick="window.location.href = '/appartments/analysis?order_by=bathrooms';">Baños</th>
      <% if device != "mobile" %><th onclick="window.location.href = '/appartments/analysis?order_by=floor';">Piso</th><% end %>
      <th onclick="window.location.href = '/appartments/analysis?order_by=orientation';">Orientacion</th>
      <th onclick="window.location.href = '/appartments/analysis?order_by=useful_surface';">Superficie util</th>
      <% if device != "mobile" %><th onclick="window.location.href = '/appartments/analysis?order_by=total_surface';">Superficie total</th><% end %>
      <th>Razon de rechazo</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody style="text-align: center;">
    <% for i in 0..@appartments.length-1 do %>
      <tr onmouseover="this.style.backgroundColor='antiquewhite';" onmouseout="this.style.backgroundColor='white';">
        <td> <%= i + 1 %> </td>
        <td><%= @appartments[i].commune %></td>
        <% if device != "mobile" %><td><%= @appartments[i].cost %></td><% end %>
        <% if device != "mobile" %><td><%= @appartments[i].common_expenses %></td><% end %>
        <td
          style="background-color:
            <%=Appartment.set_color(
              @best_total_cost,
              @worst_total_cost,
              @appartments[i].cost + (@appartments[i].common_expenses || 0)
            ) %>"
        >
          <%= @appartments[i].cost + (@appartments[i].common_expenses || 0) %>
        </td>
        <td
          style="background-color:
            <%=Appartment.set_color(
              @worst_bedrooms,
              @best_bedrooms,
              @appartments[i].bedrooms
            ) %>"
        ><%= @appartments[i].bedrooms %></td>
        <td
          style="background-color:
            <%=Appartment.set_color(
              @worst_bathrooms,
              @best_bathrooms,
              @appartments[i].bathrooms
            ) %>"
        ><%= @appartments[i].bathrooms %></td>
        <% if device != "mobile" %><td><%= @appartments[i].floor %></td><% end %>
        <td><%= @appartments[i].orientation %></td>
        <td
          style="background-color:
            <%=Appartment.set_color(
              @worst_useful_surface,
              @best_useful_surface,
              @appartments[i].useful_surface
            ) %>"
        ><%= @appartments[i].useful_surface %></td>
        <% if device != "mobile" %><td><%= @appartments[i].total_surface %></td><% end %>
        <td><%= @appartments[i].reject_reason %></td>
        <td>
          <button
            type="button"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#appartmentModal<%= @appartments[i].id %>"
            style="font-size: small;"
          >
            Ver <br /> Departamento
          </button>
        </td>
        <td>
          <button
            type="button"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#visitCommentModal<%= @appartments[i].id %>"
            style="font-size: small;"
          >
            Ver <br /> Comentarios
          </button>
        </td>
      </tr>
      <div
        class="modal fade bd-example-modal-lg"
        id="appartmentModal<%= @appartments[i].id %>"
        tabindex="-1"
        role="dialog"
        aria-labelledby="appartmentModalLabel"
        aria-hidden="true"
        data-backdrop="static"
      >
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <form
              action="/appartments/<%= @appartments[i].id %>"
              accept-charset="UTF-8"
              method="POST"
            >
              <div class="modal-header">
                <h5 class="modal-title" id="appartmentModalLabel">Departamento <%= i+1 %> (<%= @appartments[i].commune %>) #<%= @appartments[i].external_id %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%= render 'appartment_form', appartment: @appartments[i] %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Editar departamento</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div
        class="modal fade bd-example-modal-lg"
        id="visitCommentModal<%= @appartments[i].id %>"
        tabindex="-1"
        role="dialog"
        aria-labelledby="visitCommentModalLabel"
        aria-hidden="true"
        data-backdrop="static"
      >
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <form
              action="/visit_comments<% if @appartments[i].visit_comment %>/<%= @appartments[i].visit_comment.id %><% end %>"
              accept-charset="UTF-8"
              method="POST"
            >
              <div class="modal-header">
                <h5 class="modal-title" id="visitCommentModalLabel"> Comentarios Visita departamento <%= i+1 %> #<%= @appartments[i].external_id %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%= render 'visit_comment_form', visit_comment: (@appartments[i].visit_comment || VisitComment.new()), appartment: @appartments[i] %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Editar comentarios</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    <% end %>
  </tbody>
</table>
