<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<p id="notice"><%= notice %></p>
<a href="/"> Home </a>

<h1>Departamentos</h1>

<table class="table">
  <thead>
    <tr style="cursor: pointer;">
      <th onclick="window.location.href = '/appartments/analysis?order_by=commune';">Comuna</th>
      <th onclick="window.location.href = '/appartments/analysis?order_by=url';">Url</th>
      <th onclick="window.location.href = '/appartments/analysis?order_by=cost';">Precio</th>
      <th onclick="window.location.href = '/appartments/analysis?order_by=common_expenses';">Gastos comunes</th>
      <th onclick="window.location.href = '/appartments/analysis?order_by=total_cost';">Costo total</th>
      <th onclick="window.location.href = '/appartments/analysis?order_by=bedrooms';">Dormitorios</th>
      <th onclick="window.location.href = '/appartments/analysis?order_by=bathrooms';">Baños</th>
      <th onclick="window.location.href = '/appartments/analysis?order_by=floor';">Piso</th>
      <th onclick="window.location.href = '/appartments/analysis?order_by=orientation';">Orientacion</th>
      <th onclick="window.location.href = '/appartments/analysis?order_by=useful_surface';">Superficie util</th>
      <th onclick="window.location.href = '/appartments/analysis?order_by=total_surface';">Superficie total</th>
      <th onclick="window.location.href = '/appartments/analysis?order_by=duplex';">Duplex</th>
      <th onclick="window.location.href = '/appartments/analysis?order_by=walk_in_closet';">Walkin closet</th>
      <th onclick="window.location.href = '/appartments/analysis?order_by=published';">Fecha de publicacion</th>
      <th>Contacto</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody style="text-align: center;">
    <% @appartments.each do |appartment| %>
      <tr onmouseover="this.style.backgroundColor='antiquewhite';" onmouseout="this.style.backgroundColor='white';">
        <td><%= appartment.commune %></td>
        <td style="
          text-overflow: ellipsis;
          white-space: nowrap;
          max-width: 15rem;
          overflow: hidden;
        ">
          <a href="<%= appartment.url %>" target="_blank"><%= appartment.url %></a>
        </td>
        <td><%= appartment.cost %></td>
        <td><%= appartment.common_expenses %></td>
        <td
          style="background-color:
            <%=Appartment.set_color(
              @best_total_cost,
              @worst_total_cost,
              appartment.cost + (appartment.common_expenses || 0)
            ) %>"
        >
          <%= appartment.cost + (appartment.common_expenses || 0) %>
        </td>
        <td
          style="background-color:
            <%=Appartment.set_color(
              @worst_bedrooms,
              @best_bedrooms,
              appartment.bedrooms
            ) %>"
        ><%= appartment.bedrooms %></td>
        <td
          style="background-color:
            <%=Appartment.set_color(
              @worst_bathrooms,
              @best_bathrooms,
              appartment.bathrooms
            ) %>"
        ><%= appartment.bathrooms %></td>
        <td><%= appartment.floor %></td>
        <td><%= appartment.orientation %></td>
        <td
          style="background-color:
            <%=Appartment.set_color(
              @worst_useful_surface,
              @best_useful_surface,
              appartment.useful_surface
            ) %>"
        ><%= appartment.useful_surface %></td>
        <td><%= appartment.total_surface %></td>
        <td <% if appartment.duplex %> style="background-color: rgb(87, 187, 138)"<% end %>><%= appartment.duplex %></td>
        <td <% if appartment.walk_in_closet %> style="background-color: rgb(87, 187, 138)"<% end %>><%= appartment.walk_in_closet %></td>
        <td><%= appartment.published %></td>
        <% unless appartment.visit_comment.nil? %>
        <td><%= appartment.visit_comment.contact %></td>
        <% else %>
        <td></td>
        <% end %>
        <td><a href="/appartments/<%= appartment.id %>">Ver</a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appartment', new_appartment_path %>
