<p id="notice"><%= notice %></p>
<h2>
  <a href="/"> Inicio </a> -
  <a href="/appartments/analysis/map"> Analizar </a> -
  <a href="/appartments/rejected/map"> Rechazados </a> -
  <a href="/appartments/sold/map"> Vendidos </a>
</h2>

<!DOCTYPE html><html>
<meta charset="utf-8" />
<head>
  <%# leaflet %>
	<script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />

  <%# bootstrap %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <style>
    #map {
    widh: 50px;
    height: 600px; }
  </style>

</head>
  <body>
  <div id="map"></div>
<script>

var map = L.map('map').
setView([-33.4354425, -70.5844901], 14);

L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
    maxZoom: 18
}).addTo(map);

L.control.scale().addTo(map);
<% @appartments.each do |appartment| %>
  L.marker([<%= appartment.latitude %>, <%= appartment.longitude %>])
    .addTo(map)
    .bindPopup(
      '<%= (appartment.visit_comment || VisitComment.new()).address || 'Dirección desconocida' %><br><br>'+
      '<button'+
      '  type="button"'+
      '  class="btn btn-primary"'+
      '  data-toggle="modal"'+
      '  data-target="#appartmentModal<%= appartment.id %>"'+
      '  style="font-size: small;"'+
      '>'+
      '  Ver Departamento'+
      '</button><br><br>'+
      '<button'+
      '  type="button"'+
      '  class="btn btn-primary"'+
      '  data-toggle="modal"'+
      '  data-target="#visitCommentModal<%= appartment.id %>"'+
      '  style="font-size: small;"'+
      '>'+
      '  Ver Comentarios'+
      '</button>'
    );
<% end %>

 </script>

  <% @appartments.each do |appartment| %>
    <div
      class="modal fade bd-example-modal-lg"
      id="appartmentModal<%= appartment.id %>"
      tabindex="-1"
      role="dialog"
      aria-labelledby="appartmentModalLabel"
      aria-hidden="true"
      data-backdrop="static"
    >
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <form
            action="/appartments/<%= appartment.id %>"
            accept-charset="UTF-8"
            method="POST"
          >
            <div class="modal-header">
              <h5 class="modal-title" id="appartmentModalLabel">Departamento #<%= appartment.external_id %> (<%= appartment.commune %>)</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= render 'appartment_form', appartment: appartment %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn btn-primary">Editar departamento</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div
      class="modal fade bd-example-modal-lg"
      id="visitCommentModal<%= appartment.id %>"
      tabindex="-1"
      role="dialog"
      aria-labelledby="visitCommentModalLabel"
      aria-hidden="true"
      data-backdrop="static"
    >
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <form
            action="/visit_comments<% if appartment.visit_comment %>/<%= appartment.visit_comment.id %><% end %>"
            accept-charset="UTF-8"
            method="POST"
          >
            <div class="modal-header">
              <h5 class="modal-title" id="visitCommentModalLabel"> Comentarios Visita departamento #<%= appartment.external_id %>(<%= appartment.commune %>)</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= render 'visit_comment_form', visit_comment: (appartment.visit_comment || VisitComment.new()), appartment: appartment %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn btn-primary">Editar comentarios</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  <% end %>
 </body>
 </html>