<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<p id="notice"><%= notice %></p>
<a href="/"> Home </a>

<h1>Departamentos</h1>

<table class="table">
  <thead>
    <tr style="cursor: pointer;">
      <th>#</th>
      <th onclick="window.location.href = '/appartments/analysis?order_by=commune';">Comuna</th>
      <th onclick="window.location.href = '/appartments/analysis?order_by=url';">Url</th>
      <th onclick="window.location.href = '/appartments/analysis?order_by=cost';">Precio</th>
      <th onclick="window.location.href = '/appartments/analysis?order_by=common_expenses';">Gastos comunes</th>
      <th onclick="window.location.href = '/appartments/analysis?order_by=total_cost';">Costo total</th>
      <th onclick="window.location.href = '/appartments/analysis?order_by=bedrooms';">Dormitorios</th>
      <th onclick="window.location.href = '/appartments/analysis?order_by=bathrooms';">Baños</th>
      <th onclick="window.location.href = '/appartments/analysis?order_by=floor';">Piso</th>
      <th onclick="window.location.href = '/appartments/analysis?order_by=orientation';">Orientacion</th>
      <th onclick="window.location.href = '/appartments/analysis?order_by=useful_surface';">Superficie util</th>
      <th onclick="window.location.href = '/appartments/analysis?order_by=total_surface';">Superficie total</th>
      <th onclick="window.location.href = '/appartments/analysis?order_by=duplex';">Duplex</th>
      <th onclick="window.location.href = '/appartments/analysis?order_by=walk_in_closet';">Walkin closet</th>
      <th onclick="window.location.href = '/appartments/analysis?order_by=published';">Fecha de publicacion</th>
      <th>Contacto</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody style="text-align: center;">
    <% for i in 0..@appartments.length-1 do %>
      <tr onmouseover="this.style.backgroundColor='antiquewhite';" onmouseout="this.style.backgroundColor='white';">
        <td> <%= i + 1 %> </td>
        <td><%= @appartments[i].commune %></td>
        <td style="
          text-overflow: ellipsis;
          white-space: nowrap;
          max-width: 15rem;
          overflow: hidden;
        ">
          <a href="<%= @appartments[i].url %>" target="_blank"><%= @appartments[i].url %></a>
        </td>
        <td><%= @appartments[i].cost %></td>
        <td><%= @appartments[i].common_expenses %></td>
        <td
          style="background-color:
            <%=Appartment.set_color(
              @best_total_cost,
              @worst_total_cost,
              @appartments[i].cost + (@appartments[i].common_expenses || 0)
            ) %>"
        >
          <%= @appartments[i].cost + (@appartments[i].common_expenses || 0) %>
        </td>
        <td
          style="background-color:
            <%=Appartment.set_color(
              @worst_bedrooms,
              @best_bedrooms,
              @appartments[i].bedrooms
            ) %>"
        ><%= @appartments[i].bedrooms %></td>
        <td
          style="background-color:
            <%=Appartment.set_color(
              @worst_bathrooms,
              @best_bathrooms,
              @appartments[i].bathrooms
            ) %>"
        ><%= @appartments[i].bathrooms %></td>
        <td><%= @appartments[i].floor %></td>
        <td><%= @appartments[i].orientation %></td>
        <td
          style="background-color:
            <%=Appartment.set_color(
              @worst_useful_surface,
              @best_useful_surface,
              @appartments[i].useful_surface
            ) %>"
        ><%= @appartments[i].useful_surface %></td>
        <td><%= @appartments[i].total_surface %></td>
        <td <% if @appartments[i].duplex %> style="background-color: rgb(87, 187, 138)"<% end %>><%= @appartments[i].duplex %></td>
        <td <% if @appartments[i].walk_in_closet %> style="background-color: rgb(87, 187, 138)"<% end %>><%= @appartments[i].walk_in_closet %></td>
        <td><%= @appartments[i].published %></td>
        <% unless @appartments[i].visit_comment.nil? %>
        <td><%= @appartments[i].visit_comment.contact %></td>
        <% else %>
        <td></td>
        <% end %>
        <td><a href="/appartments/<%= @appartments[i].id %>">Ver</a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New @Appartments[i]', new_appartment_path %>
